<form method="post" action="/profile/store">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
    </div>
    <div class="form-group">
        <label for="confirmPassword">Nhập lại mật khẩu:</label>
        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
            placeholder="Confirm password"><br>

    </div>


    <div class="form-group">
        <label for="current_skills">Current Skill</label>
        <input type="text" class="form-control" name="current_skills" id="current_skills"
            placeholder="Skill want to learn">
    </div>

    <div class="form-group">
        <label for="skill_want_to_learn">Skill want to learn</label>
        <input type="text" class="form-control" name="skill_want_to_learn" id="skill_want_to_learn"
            placeholder="Skill want to learn">
    </div>

    <div class="form-group">
        <label for="course_image">Course Image</label>
        <input type="text" class="form-control" name="course_image" id="course_image">

    </div>
    <div class="form-group">
        <label for="description_course">Mô Tả Khóa Học</label>
        <input type="text" class="form-control" name="description_course" id="description_course">

    </div>

    <div class="form-group">
        <label for="avatar">Avatar</label>
        <input type="text" class="form-control" name="avatar" id="avatar">

    </div>

    <button type="submit" class="btn btn-primary mt-4" id="registration-form">Đăng Kí Tài Khoản</button>
</form>



{{#if error_message}}
<div style="color: red;">{{{error_message}}}</div>
{{/if}}