<form method="post" action="/store/stored_save">

    <div class="form-group">
        <label for="course_image">Course Image</label>
        <input type="text" class="form-control" name="course_image" id="course_image">
    </div>
    <div class="form-group">
        <label for="description_course">Mô Tả Khóa Học</label>
        <input type="text" class="form-control" name="description_course" id="description_course">
    </div>

    <button type="submit" class="btn btn-primary mt-4" id="registration-form">Thêm Khóa Học</button>
</form>